<div class="article-summary m-post m-post-text">
	<div class="cont ">
		<div class="text f-cb">
			<h2><a href="<%- config.root %><%- item.path %>"><%- item.title || theme.default_post_title || "Untitled" %></a></h2>
		</div>
	</div>
	<div class="subinfo">
		<a href=""><%- date(item.date, 'YYYY-MM-DD') %></a>
	</div>
</div>
<!-- 文字 end-->