<div class="main-footer">
	<div class="m-ft container"><span title="Copyright">©</span>
		<a href="http://tvwawawa.lofter.com/">tv_哇</a> | Powered by
		<a href="https://hexo.io/">Hexo</a>
	</div>
</div>